<article>
    <header>
        <h3>{{ post.heading }}</h3>
    </header>
    <div class="content">
        {{ post.content }}
    </div>
    <div class="player">
        <audio controls autobuffer>
        {% for file in post.files %}
            <source src="{{file.path}}" />
        {% endfor %}
        </audio>
    </div>
    <div class="files">
        Downloads: 
        {% for file in post.files %}
            <a href="{{file.path}}"> {{file.text}} </a> | 
        {% endfor %}
    </div>
</article>
