<!DOCTYPE html>
<html>
    <head>
      <title>Namenloser deutscher LoL Podcast</title>
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/mediaelementplayer.min.css" />
    </head>
    <body>
      <div class="container">
        {{ content }}
        <footer>
          <a href="imprint.html">Impressum</a><br />
          Follow us: <br />
          <a href="https://twitter.com/rarmuh">@raremuh</a><br />
          <a href="https://twitter.com/themasch">@themasch</a>
        </footer>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="./js/mediaelement-and-player.min.js"></script>
      <script>
        $('audio').mediaelementplayer({
          audioWidth: 590
        });
      </script>
    </body>
</html>
