<!DOCTYPE html>
<html>
    <head>
      <title>Namenloser deutscher LoL Podcast</title>
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/mediaelementplayer.min.css" />
    </head>
    <body>
      <div class="container">
        {{ content }}
        <footer>
          Follow us: <br />
          <a href="https://twitter.com/raremuh">@raremuh</a><br />
          <a href="https://twitter.com/themasch">@themasch</a><br />
          <a href="https://twitter.com/tassadarws">@TassadarWS</a>
        </footer>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="./js/mediaelement-and-player.min.js"></script>
      <script>
        $('audio').mediaelementplayer({
          audioWidth: 590
        });
      </script>
      <!--- JA, das ist Piwik! -->
      <script src="//masch.it/piwik/piwik.js"></script>
      <script type="text/javascript">
        try {
          var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 8);
          piwikTracker.trackPageView();
          piwikTracker.enableLinkTracking();
        } catch( err ) {}
        </script>
        <noscript>
          <p><img src="http://masch.it/piwik/piwik.php?idsite=8" style="border:0" alt="" /></p>
        </noscript>
    </body>
</html>
